@import url("  ");

/*
body {

	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
	background: rgb(34,193,195);
	background: linear-gradient(354deg, rgba(34,193,195,1) 
	0%, rgba(79,45,253,0.8855917366946778) 100%);
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0px auto;
	display: block ;
	padding: 0;

}
B

/******************************************end frist topUp my website*****************************************/
body{
	background: #212534;
}

div {
	margin:  0 auto;
	padding: 0;
}


*{
	margin: 0px auto;
box-sizing: border-box;	
padding: 0;
  }



























  

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
  }
  
  :root {
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
  }
  
  .card {
	background: #191c29;
	width: var(--card-width);
	height: var(--card-height);
	padding: 3px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
  }
  
  .card:hover {
	color: rgb(88 199 250 / 100%);
	transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
	animation: none;
	opacity: 0;
  }
  
  
  .card::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate)
	  , #5ddcff, #3c67e3 43%, #4e00c2);
	  position: absolute;
	  z-index: -1;
	  top: -1%;
	  left: -2%;
	  animation: spin 2.5s linear infinite;
  }
  
  .card::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(
	  var(--rotate)
	  , #5ddcff, #3c67e3 43%, #4e00c2);
	  opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  --rotate: 0deg;
	}
	100% {
	  --rotate: 360deg;
	}
  }
  
  a {
	color: #212534;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 2rem;
  }
/*******************************************************/


  
button {
    background-color: #614caf;
    width: 100%;
    color: rgb(173, 122, 12);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}








#login-button{
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 26px 0 0 0px ;
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: rgba(3,3,3,.8);
	overflow: hidden;
	opacity: 0.7;
	box-shadow: 10px 10px 30px #000;
}
  
	#login-button .logIMG{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: 0 0 20px 0;
  
	}
  

  /* Login container */
  #contLOIN{
	position: absolute;
	display:  ;
	left: 0;
    width: 100%;
    z-index: 1000;

  }
  


.SLCEO{
	text-align: center;
	align-items: center;
	position: absolute;
	top: 500PX;
	left: 0;
	right: 0;
	color: #eee;
	opacity: ;
	box-shadow: 10px 10px 30px #000;
	/*
	cursor: pointer;
	position: relative ;
	top: 500PX;
	left: 0;
	right: 0;
	bottom: 0;
 	margin: auto;
 	overflow: hidden;
	color: #eee;
	opacity: ;
	box-shadow: 10px 10px 30px #000;
*/

}
 


/******************************************end frist topUp my website*****************************************/

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
}



.headto{

	margin: 10px 0;	position: relative;
 	left: 0;
	align-items: center;
	text-align: center;
	color: #222;


	/*
	  max-width: 74rem;
	padding: 8px;
	*/
}



.headto .a_logo{
	flex-shrink: 0;
    margin-right: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}


.headto .logo{
	padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 1px rgba(0,0,0,0.3);
    border: 3px solid #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1;
    vertical-align: middle;
    margin-right: 1.5rem;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.logoTEXT{
	color: rgb(255, 255, 255);
}

 
p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}
 

.container1 .comSINN {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container1 .comSINN:active {
	transform: scale(0.95);
}

.container1 .comSINN:focus {
	outline: none;
}

.container1 .comSINN.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	cursor: pointer;
}

.container1 .comSINN.ghost :hover{
	background: rgb(22,0,36);
	background: linear-gradient(90deg, rgba(22,0,36,1) 0%, rgba(21,179,36,0.9433333333333334)
	 17%, rgba(36,121,9,1) 35%, rgba(0,212,255,1) 100%);
}


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
/*
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height:  ;
}
*/
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container1.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container1.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.fab{
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:50%;
	background-size:cover;
	margin-bottom:3px;
  
  
}


.fa-heart{

	width:20px;
	height:20px;
	display: inline;
  

}




@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container1.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container1.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 5px 0;
}
 
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
  
h1 {
	font-weight: bold;
	margin: 0;
	font-size: 15px;

}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container1 .comSINN {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container1 .comSINN:active {
	transform: scale(0.95);
}

.container1 .comSINN:focus {
	outline: none;
}

.container1 .comSINN.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container1 {

	border-radius: 10px;
  	
	
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
 
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container1.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container1.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container1.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container1.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
	transform: translateX(20%);
}






.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
 
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}



/********************************************************************************************************/







/**********************start signUp*************************************/


#regiter_form{
    margin: 0 auto;
    width: 800PX;
    border-radius: 0,9rem ;
    background-color: red;
	display:   ;
 
}




.pass_sup{

	width: 100%;

	
}


.pass_chicker{
	color: #FF416C;
	margin: 0px ;
	padding: 0px;
	width: 15%;
	background-color: red;

}


#text {display:none;color:red}


button {   
    background-color: #614caf;   
    width: 100%;  
     color: rgb(173, 122, 12);   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
    } 
      
      
form {   
     border: 3px solid #f1f1f1;   
 }   

input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid green;   
     box-sizing: border-box; 
     border-radius: 0,9rem ;
  
 }  

button:hover {   
     opacity: 0.7;   
 }   

.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }   
     
 
.container {  
    padding: 50px;  
    background-color: lightblue;  

}  

input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 10px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
}  

input[type=text]:focus, input[type=password]:focus {  
    background-color: rgb(0, 119, 255);  
    outline: none;  
}  

 
      
      
hr {  
border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
}  


.registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
    border-radius: 0,9rem ;

}  
 
.registerbtn:hover {  
    opacity: 1;  
    background-color: aqua;
}  
 
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }



  /**********************start signUp*************************************/
